extends layout
block content
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      div.container
        div.navbar-header
          a.navbar-brand(href='javacript:void(0)') App-Builder
    .container-fluid.appln-content
        form#uploadForm(enctype='multipart/form-data', action='/extract', method='post')
          input#archiveFolder(type='file', name='decompress')
        span#status
        #app-built  

