extends layout
block content
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      div.container
        div.navbar-header
          a.navbar-brand(href='javacript:void(0)')	Write Once Run Anywhere
    .container-fluid.appln-content
        div.h2.text-center Upload the archived web app folder
        form#uploadForm(enctype='multipart/form-data', action='/extract', method='post')
          input.center-content#archiveFolder(type='file', name='decompress')
        #preloader.hide.center-content
        #app-built  

