script#app-built-template(type='text/x-handlebars-template')
  .app-details.row
    .icon.col-md-2.col-xs-4
      img.app-icon(alt='Icon', src='https://s3.amazonaws.com/build.phonegap.com/ead68ed8-666c-11e4-b0af-2aba9e102498/icon.png')
    .details.text-right.col-md-10.col-xs-8
      h1
        | {{title}}
        p
          small {{version}}
      p.desc {{description}}
    .packages
      {{#each platform}}
      .platform.col-md-12.col-xs-12(data-type='{{type}}')
        .pkg.ui-block.title {{type}}
        p.filetype.download.text-right {{extenstion}}
      {{/each}}

