script#app-built-template(type='text/x-handlebars-template')
   div.platform
    {{#each platform}}
    div.type(data-type='{{type}}') {{type}}
    {{/each}}
    div.type(data-type='desktop') desktop 